<div class="container">
  <div class="template">
    <h1>Bienvenido a este ejemplo que cumple con las siguientes condiciones:


    </h1>

    <p>

      buscar y registrar  Usuario y permitir la autenticación en el sistema
    </p>

    <h3>Reglas de negocio:</h3>

    <ul>
      <li>consumir el api <a href="https://jsonplaceholder.typicode.com/users">https://jsonplaceholder.typicode.com/users</a> </li>
      <li>consumir el api <a href="https://jsonplaceholder.typicode.com/posts">https://jsonplaceholder.typicode.com/posts</a>.</li>
      <li>Por defecto existe un usuario con login admin y password admin.</li>
    </ul>
    <a routerLink="/Auth">   Ingresar  </a>
  </div>
</div>
